body {
    background-image: url('images.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff0015;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #33ff00;
}

@media (max-width: 600px) {
    h1, h2, p {
        text-align: center;
    }

    table, td {
        width: 100%;
        display: block;
    }

    td {
        color: white;
        text-align: center;
        padding: 10px 0;
    }
}

h1{
    color: white;

}